* {
    font-family: Montserrat;
    overflow: hidden;
}

@font-face {
    font-family: iCielKoni;
    src: url(/public/iCielKoni.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/public/Montserrat.ttf);
}

.navigation {
    width: 1538px;
    height: 90.816px;
    flex-shrink: 0;
    background-color: #ED7200;
    border-end-end-radius: 40%;
    border-end-start-radius: 40%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: absolute;
    box-shadow: 0px 0px 35px 0px rgba(161, 58, 0, 0.75);
}

.logo img {
    width: 156px;
    height: 81px;
    flex-shrink: 0;
    margin-left: 169px;
}


.group-1 {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
    position: relative;
    top: -76%;
    z-index: 1;
    left: 35%;
    z-index: 3;
}

.group-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
    position: relative;
    top: 13px;
    padding-left: 2rem;
    z-index: 3;
}

.g2-phone {
    margin-top: 5px;
    margin-left: -35%;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-decoration-none.active {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    align-items: center;
    border-radius: 33px;
    border: 2px solid var(--w, #FFF);
    gap: 10px;
    opacity: 0.800000011920929;


}

.header ul {
    margin-top: -10px;

}



/* active */
/* .text-decoration-none .active {} */

.nav-item {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.text-decoration-none {
    color: var(--w, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    background-image: linear-gradient(#FF8B2C, #FFB105, #f88928);
    width: 1538px;
    height: 820px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -2%;
    z-index: 1;
}

.img-bg {
    height: 750px;
    width: 1485px;
    margin-left: 2%;
    position: relative;
    z-index: 1;
}

.img-bg2 {
    height: 618px;
    width: 1418px;
    margin-left: 2%;
    position: absolute;
    z-index: 1;
    top: 7%;
    right: 4%;
}



.img2 {
    position: absolute;
    z-index: 2;
    left: 11%;
    top: 16%;
    width: 139px;
    height: 120px;
    flex-shrink: 0;
}

.text-title-top {
    color: var(--w, #FFF);
    font-size: 57px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
    font-family: iCielKoni;
    z-index: 2;
    left: 328px;
    top: 13%;
}

.text-title-bot {
    color: var(--w, #FFF);
    font-size: 57px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
    font-family: iCielKoni;
    z-index: 2;
    right: 68%;
    top: 20%;
}

.img3 {
    position: absolute;
    z-index: 2;
    right: 51.5%;
    top: 17.5%;
    width: 112px;
    height: 153px;
    flex-shrink: 0;

}

.img4 {
    position: absolute;
    z-index: 2;
    right: 40.5%;
    top: 11%;
    width: 91px;
    height: 135px;
}

.img5 {
    position: absolute;
    z-index: 2;
    right: 8%;
    top: 6%;
    width: 575px;
    height: 296px;
    flex-shrink: 0;

}

.img-ballon5 {
    position: absolute;
    z-index: 5;
    top: 35%;
    right: 0%;
    width: 114px;
    height: 207px;

}

.img-ballon6 {
    position: absolute;
    z-index: 2;
    top: 70%;
    right: 7%;
    width: 120px;
    height: 178px;
    flex-shrink: 0;
}

.book-left {
    position: absolute;
    z-index: 2;
    right: 44%;
    top: 32.5%;
    width: 700px;
    height: 360px;
    flex-shrink: 0;

}

.vien {
    position: absolute;
    z-index: 2;
    right: 45%;
    top: 33.5%;
    width: 671px;
    height: 345px;
    flex-shrink: 0;
}

.left-box1 {
    width: 747px;
    height: 420px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 34%;
    left: 10%;
    border-radius: 7%;
}



.left-box2 {
    width: 752px;
    height: 407px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 7%;
}

.left-box3 {
    width: 728px;
    height: 385px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 1%;
    border-radius: 5%;
    border: 3px dashed #FFB489;
}

.left-box4 {
    width: 850px;
    height: 385px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.text-top {
    position: absolute;
    width: 630px;
    left: 4%;
    top: 0;

    background-color: transparent;
}

.text-top p {
    color: var(--text, #23221F);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    opacity: 0.699999988079071;
    margin-bottom: 5px;
    margin-left: 25px;
}

.img-vector {
    position: absolute;
    top: 35%;
    z-index: 3;
    right: 554px;
    height: 396px;
    width: 117px;
}

.star-img {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 23px;
}

.text {
    position: absolute;
    top: 39%;
    left: 20%;
    color: var(--text, #23221F);
    font-size: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.star-img2 {
    position: absolute;
    top: 52%;
    left: 15%;
    width: 23px;
}

.text2 {
    position: absolute;
    top: 52%;
    left: 20%;
    color: var(--text, #23221F);
    font-size: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.star-img3 {
    position: absolute;
    top: 64%;
    left: 15%;
    width: 23px;
}

.text3 {
    position: absolute;
    top: 64%;
    left: 20%;
    color: var(--text, #23221F);
    font-size: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}


.star-img4 {
    position: absolute;
    top: 75%;
    left: 15%;
    width: 23px;
}

.text4 {
    position: absolute;
    top: 75%;
    left: 20%;
    color: var(--text, #23221F);
    font-size: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.img6 {
    position: absolute;
    z-index: 5;
    left: 1px;
    height: 364px;
    width: 214px;
    top: 45%;
}

.img7 {
    position: absolute;
    z-index: 5;
    left: 12px;
    top: 28%;
    width: 97px;
    height: 144px;
}

.img-ballon4 {
    position: absolute;
    z-index: 2;
    width: 84px;
    height: 104px;
    top: 81%;
    left: 31%;
}

.right-box1 {
    width: 406px;
    height: 422px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 277px;
    right: 204px;
    border-radius: 7%;
    border-top-left-radius: 8%;
}

.right-box2 {
    width: 408px;
    height: 408px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: -2px;
    right: 0%;
    border-radius: 7%;
    border-top-left-radius: 10%;
}

.right-box3 {
    width: 386px;
    height: 378px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 5%;
    right: 2%;
    border-radius: 5%;
    border: 3px dashed #FFB489;
}

.right-box4 {
    width: 381px;
    height: 377px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: -1%;
    right: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.box-title-right {
    position: absolute;
    z-index: 5;
    top: 31%;
    right: 18.5%;
    width: 235px;
    height: 68.338px;
    flex-shrink: 0;
    background-image: linear-gradient(#FF000A, #C2000B);
    border-radius: 20%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: 0px 0px 35px 0px rgba(161, 58, 0, 0.75);

}

.box-title-right2 {
    position: absolute;
    z-index: 5;
    top: 9%;
    right: 3%;
    width: 220px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border: 2px dashed #FFF;
}

.box-title-right .text {
    position: absolute;
    top: 18%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--w, #FFF);
    font-size: 26px;
    font-style: normal;
    font-family: iCielKoni;
    font-weight: 900;
    line-height: normal;
    /* right: 12%; */
    margin-right: 35px;
}

.input-rightbox-1 {
    position: absolute;
    top: 11%;
    right: 64px;
    z-index: 5;
    display: flex;
    width: 304px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding-left: 10px;

}

.icon1 {
    position: absolute;
    z-index: 5;
    top: 11%;
    right: 2%;
    width: 50.505px;
    height: 44.287px;
    flex-shrink: 0
}

.icon1-2 {
    position: absolute;
    z-index: 5;
    top: 12%;
    right: 2.7%;
    width: 43.505px;
    height: 38.287px;
}

.input-rightbox-2 {
    position: absolute;
    top: 26%;
    outline: none;
    right: 59%;
    z-index: 5;
    display: flex;
    height: 43px;
    width: 141px;
    padding: 15px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
}

.btndate {
    position: absolute;
    z-index: 5;
    top: 26% ! important;
    right: 8px ! important;
    width: 50.505px;
    height: 38.287px;
    flex-shrink: 0;
    box-shadow: 0px 6px 0px #FFD27B;


}

.icon2-2 {
    position: absolute;
    z-index: 5;
    top: 37%;
    right: 3%;
    width: 35.505px;
    height: 34.287px;
}

.input-rightbox-2-2 {
    position: absolute;
    top: 26%;
    outline: none;
    right: 17%;
    z-index: 5;
    display: flex;
    height: 45px;
    width: 145px;
    padding: 15px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
}

.input-rightbox-3 {
    position: absolute;
    top: 41%;

    right: 3%;
    display: flex;
    width: 355px;
    padding: 9px 16px;
    align-items: center;
    gap: 260px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
}

.input-rightbox-4 {
    position: absolute;
    top: 56%;
    right: 3%;
    display: flex;
    width: 355px;
    padding: 9px 16px;
    align-items: center;
    gap: 260px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
}

.input-rightbox-5 {
    position: absolute;
    top: 71%;
    right: 3%;
    display: flex;
    width: 355px;
    padding: 9px 16px;
    align-items: center;
    gap: 260px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
}




.btn-book {
    position: absolute;
    top: 84%;
    right: 18%;
    width: 228px;
    height: 41px;
    flex-shrink: 0;
    background-color: #FF000A;
    color: var(--w, #FFF);
    font-family: iCiel Koni;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    border-radius: 15%;
    box-shadow: 0px 8px #C2000B;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.btn-book:active {
    box-shadow: none;
    transform: translateY(3px);
}

.date {
    position: absolute;
    top: 33%;
    right: 2%;
    z-index: 5;
}

.btndate {
    border: none;
    background-color: #FFDE32;
    position: absolute;
    width: 51px !important;
    color: white;

}

:where(.css-dev-only-do-not-override-14wwjjs).ant-btn.ant-btn-icon-only {
    width: 32px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    color: white;
}

.text-title {
    position: absolute;
    color: var(--w, #FFF);
    font-family: iCiel Koni;
    font-size: 82px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    top: 16%;
    z-index: 2;
    left: 41%;
}

.img-contact .img1 {
    position: absolute;
    top: 33%;
    left: 0%;
    z-index: 2;
    width: 221px;
    height: 425px;
}

.left-box1-contact {

    width: 690px;
    height: 465px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 29%;
    left: 14%;
    border-radius: 7%;
}

.left-box2-contact {
    width: 690px;
    height: 451px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 7%;

}

.left-box3-contact {
    width: 671px;
    height: 425px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 1%;
    border-radius: 5%;
    border: 3px dashed #FFB489;
}

.left-box4-contact {
    width: 666px;
    height: 430px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.input-contact-name {
    display: flex;
    width: 220px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    position: absolute;
    top: 23%;
    left: 55px;
}

.input-contact-phone {
    display: flex;
    width: 220px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    position: absolute;
    top: 37%;
    left: 55px;
}



.input-contact-email {
    display: flex;
    width: 315px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    position: absolute;
    top: 23%;
    right: 7.5%;
}

.input-contact-address {
    display: flex;
    width: 315px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    position: absolute;
    top: 37%;
    right: 7.5%;
}

.btn-contact {
    width: 271.018px;
    height: 48.869px;
    flex-shrink: 0;
    position: absolute;
    top: 82%;
    left: 32%;
    border: none;
    border-radius: 12%;
    background-color: #FF000A;
    box-shadow: 0px 6px 2px #93000A;
    color: var(--w, #FFF);
    font-family: iCiel Koni;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.68px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.btn-contact:active {
    transform: translateY(3px);
    box-shadow: none;

}

.input-contact-mess {
    display: flex;
    width: 564px;
    height: 96px;
    /* padding: 11px 712px 115px 16px; */
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 52%;
    left: 8%;
    border: none;
    outline: none;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
}

.input-contact-mess::placeholder {
    position: relative;
    top: -25px;
    left: 10px;
    color: var(--ultimate-gray, #8a8c8e);

    /* 18 medium */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.box-right-contact .box-right-address {
    width: 370px;
    height: 140px;
    flex-shrink: 0;
    position: absolute;
    top: 29%;
    right: 14%;
    background-color: #FFCA7B;
    z-index: 1;
    border-radius: 18%;
}

.box-right-contact .box-right-email {
    width: 370px;
    height: 140px;
    flex-shrink: 0;
    position: absolute;
    top: 49%;
    right: 14%;
    background-color: #FFCA7B;
    z-index: 1;
    border-radius: 18%;
}

.box-right-contact .box-right-phone {
    width: 370px;
    height: 140px;
    flex-shrink: 0;
    position: absolute;
    top: 69%;
    right: 14%;
    background-color: #FFCA7B;
    z-index: 1;
    border-radius: 18%;
}

.box-right-contact .box-right-address-1 {
    width: 370px;
    height: 130px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 18%;
}


.box-right-contact .box-right-email-1 {
    width: 370px;
    height: 130px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 18%;
}

.box-right-contact .box-right-phone-1 {
    width: 370px;
    height: 130px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 18%;
}

.box-right-contact .box-right-address-2 {
    width: 355px;
    height: 111px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 7%;
    left: 2%;
    border-radius: 14%;
    border: 3px dashed #FFB489;
}

.box-right-contact .box-right-email-2 {
    width: 355px;
    height: 111px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 7%;
    left: 2%;
    border-radius: 14%;
    border: 3px dashed #FFB489;
}

.box-right-contact .box-right-phone-2 {
    width: 355px;
    height: 111px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 7%;
    left: 2%;
    border-radius: 14%;
    border: 3px dashed #FFB489;
}

.box-right-contact .box-right-address-3 {
    width: 355px;
    height: 113px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 10%;
    background-color: #FFF6D4;
}

.box-right-contact .box-right-email-3 {
    width: 355px;
    height: 113px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 10%;
    background-color: #FFF6D4;
}

.box-right-contact .box-right-phone-3 {
    width: 355px;
    height: 113px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 10%;
    background-color: #FFF6D4;
}

.address-br-contact,
.email-br-contact,
.phone-br-contact {
    color: #12265A;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    right: 0%;
    margin-right: 22%;
    margin-top: 4%;
}

.address-br-contact-text,
.email-br-contact-text,
.phone-br-contact-text {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-left: 29%;
    margin-top: -2%;
}

.email-br-contact {
    margin-top: 6%;
    margin-left: -3%;
}

.email-br-contact-text {
    margin-left: 29.5%;

}

.phone-br-contact {
    margin-left: 10%;
    margin-top: 7%;
}

.phone-br-contact-text {
    margin-left: 29.5%;
}

.icon-phone-contact {
    position: absolute;
    top: 24%;
    z-index: 5;
    width: 50px;
    height: 47px;
    left: 8%;
}

.icon-email-contact {
    position: absolute;
    top: 19%;
    z-index: 5;
    width: 50px;
    height: 47px;
    left: 8%;
}

.icon-location-contact {
    position: absolute;
    top: 18%;
    z-index: 5;
    width: 35px;
    height: 48px;
    left: 9%;
}

.circle-address {
    position: absolute;
    top: 47%;
    z-index: 4;
    width: 56px;
    height: 21px;
    left: 6%;
    background-color: #6EC1E4;
    border-radius: 80%;

}

.alert-contact {
    width: 300px;
    height: 120px;
    position: fixed;
    top: 43%;
    background-color: rgba(0, 0, 0, 0.7);
    right: 41%;
    border-radius: 24px;
    background: var(--w, #FFF);
    z-index: 5;

}


.alert-contact-text {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    opacity: 0.699999988079071;
    padding: 20px;
    margin-top: 1%;
}

.alert-contact :where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled) {
    position: absolute;
    top: 3%;
    right: 3%;
    color: black;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #FF000A;

}

.text-title-events {
    color: #FFF;
    font-family: iCiel Koni;
    font-size: 69px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
    top: 16%;
    z-index: 2;
    right: 30%;

}




:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-default:not(:disabled):not(.ant-btn-disabled) {
    position: absolute;
    top: 3%;
    right: 3%;
    color: #efefef;
}

/* page Events */

.img1-events {
    position: absolute;
    z-index: 5;
    top: 12%;
    left: -1%;
    width: 370px;
}

.img2-events {
    position: absolute;
    z-index: 5;
    top: 12%;
    width: 320px;
    right: 0%;
}

.box-events {
    position: absolute;
    z-index: 4;
    width: 1335px;
    height: 471px;
    top: 27%;
    left: 7%;
}

.box-events .col-3 {
    position: relative;
    z-index: 5;
    top: 5%;
    left: 9%;
    margin-left: 25px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 4px 45px 0px rgba(109, 46, 0, 0.35);
    height: 400px;
    width: 251px;
}

.btn-detail-events {

    margin-top: 17%;
    width: 177px;
    height: 36px;
    flex-shrink: 0;
    background-color: #FF000A;
    color: var(--w, #FFF);
    text-align: center;
    font-family: iCiel Koni;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    border-radius: 13%;
    box-shadow: 0px 8px #C2000B;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    left: 8%;
}



.btn-detail-events:active {
    box-shadow: none;
    transform: translateY(3px);
    border: none;
}

.arrow-left-events {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 7%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 28%;
    background-image: linear-gradient(#FFBE5C, #FFA90B);
    background: #FFDE32;
    box-shadow: 0px 8px #FFD27B;
}




.arrow-right-events {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 7%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 28%;
    background-image: linear-gradient(#FFBE5C, #FFA90B);
    background: #FFDE32;
    box-shadow: 0px 8px #FFD27B;
}

.icon-left-events {
    position: absolute;
    top: 25%;
    left: 15%;
}

.icon-right-events {
    position: absolute;
    top: 25%;
    left: 19%;
}

.events .arrow-left-events:active {
    box-shadow: none;
    transform: translateY(3px);
}

.events .arrow-right-events:active {
    box-shadow: none;
    transform: translateY(3px);
}

.events .img-events {
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
}

.events .name-event {
    position: relative;
    color: var(--text, #23221F);
    top: 45%;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 2%;
}

.events .des-event {
    position: relative;
    top: 38%;
    color: #6C7272;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    left: 3%;
}

.events .img-calendar {
    position: relative;
    top: 32.5%;
    left: 1%;
    width: 22px;
    height: 22px;
}

.events .date-event {
    position: relative;
    top: 24%;
    color: #444;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    left: 13%;
}

.events .price-event {
    position: relative;
    top: 17%;
    color: #FA7D09;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.16px;
    left: 3%;
}

/* page payment */

.payment .left-box1 {
    width: 747px;
    height: 470px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 29%;
    left: 10%;
    border-radius: 7%;
}

.payment .right-box1 {
    width: 406px;
    height: 465px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 238px;
    right: 204px;
    border-radius: 7%;
    border-top-left-radius: 8%;
}

.payment .left-box2 {
    width: 752px;
    height: 457px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 7%;
}

.payment .right-box2 {
    width: 408px;
    height: 454px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: -2px;
    right: 0%;
    border-radius: 7%;
    border-top-left-radius: 10%;

}

.payment .left-box3 {
    width: 728px;
    height: 430px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 1%;
    border-radius: 5%;
    border: 3px dashed #FFB489
}

.payment .right-box3 {
    width: 386px;
    height: 425px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 4%;
    right: 2%;
    border-radius: 5%;
    border: 3px dashed #FFB489;
}

.payment .left-box4 {
    width: 850px;
    height: 425px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.payment .right-box4 {
    width: 381px;
    height: 425px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: -1%;
    right: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.payment .btn-book {
    position: absolute;
    top: 86%;
    right: 18%;
    width: 249px;
    height: 41px;
    flex-shrink: 0;
    background-color: #FF000A;
    color: var(--w, #FFF);
    font-family: iCiel Koni;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    border-radius: 15%;
    box-shadow: 0px 8px #C2000B;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payment .date {
    position: absolute;
    top: 55%;
    right: 10%;
    z-index: 5;
}

.payment .box-title-right {
    position: absolute;
    z-index: 5;
    top: 28%;
    right: 17%;
    width: 275px;
    height: 69.338px;
    flex-shrink: 0;
    background-image: linear-gradient(#FF000A, #C2000B);
    border-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 0px 0px 35px 0px rgba(161, 58, 0, 0.75);
}

.payment .box-title-left {
    position: absolute;
    z-index: 5;
    top: 28%;
    left: 16%;
    width: 275px;
    height: 69.338px;
    flex-shrink: 0;
    background-image: linear-gradient(#FF000A, #C2000B);
    border-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 0px 0px 35px 0px rgba(161, 58, 0, 0.75);
}

.payment .box-title-left2 {
    position: absolute;
    z-index: 5;
    top: 9%;
    left: 3%;
    width: 260px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border: 2px dashed #FFF;

}

.payment .box-title-right2 {
    position: absolute;
    z-index: 5;
    top: 9%;
    right: 3%;
    width: 260px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border: 2px dashed #FFF;

}

.payment .box-title-left .text {
    position: absolute;
    top: 24%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--w, #FFF);
    font-size: 18px;
    font-style: normal;
    font-family: iCielKoni;
    font-weight: 900;
    line-height: normal;
    margin-left: -20px;
}

.payment .text {
    position: absolute;
    top: 24%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--w, #FFF);
    font-size: 18px;
    font-style: normal;
    font-family: iCielKoni;
    font-weight: 900;
    line-height: normal;
    margin-left: -29px;
}

.payment .img-vector {
    position: absolute;
    top: 30%;
    z-index: 3;
    right: 554px;
    height: 445px;
    width: 117px;
}

.text-title-payment {
    color: #FFF;
    font-family: iCiel Koni;
    font-size: 69px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
    top: 16%;
    z-index: 2;
    right: 35%;
}

.payment .form-input1 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 11%;
    left: 9%;
}

.payment .form-input2 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 29%;
    left: 9%;
}

.payment .form-input3 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 48%;
    left: 9%;
}

.payment .form-input4 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 66%;
    left: 9%;
}

.payment .input-rightbox-1 {
    position: absolute;
    top: 18%;
    right: 37px;
    z-index: 5;
    display: flex;
    width: 304px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

.payment .input-rightbox-2 {
    position: absolute;
    top: 36%;
    outline: none;
    right: 10%;
    z-index: 5;
    display: flex;
    height: 43px;
    width: 300px;
    padding: 15px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
}

.payment .input-rightbox-3 {
    position: absolute;
    top: 56%;
    right: 27%;
    display: flex;
    width: 234px;
    padding: 9px 16px;
    align-items: center;
    gap: 260px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;

}

.payment .input-rightbox-4 {

    position: absolute;
    top: 73%;
    right: 62%;
    display: flex;
    width: 96px;
    padding: 9px 16px;
    align-items: center;
    gap: 260px;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;

}


.payment .btndate {
    position: absolute;
    z-index: 5;
    top: 55% ! important;
    right: 37px ! important;
    width: 50.505px;
    height: 38.287px;
    flex-shrink: 0;
    box-shadow: 0px 6px 0px #FFD27B;
}

.payment .img6 {
    position: absolute;
    z-index: 5;
    left: 0px;
    height: 359px;
    width: 207px;
    top: 42%;
}

.calendar {
    width: 25px;
    height: 25px;
    margin-left: -16%;
    z-index: 5;
}

.payment .form-input-left-1 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 14%;
    left: 9%;
}

.payment .left-box4 .input-leftbox-1 {
    position: absolute;
    top: 21%;
    left: 78px;
    z-index: 5;
    display: flex;
    width: 188px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

.payment .form-input-left-2 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 14%;
    left: 40%;
}

.payment .left-box4 .input-leftbox-2 {
    position: absolute;
    top: 21%;
    left: 338px;
    z-index: 5;
    display: flex;
    width: 84px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

.payment .ticket {
    position: absolute;
    top: 23%;
    left: 430px;
}

.payment .form-input-left-3 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 14%;
    right: 25%;
}

.payment .left-box4 .input-leftbox-3 {
    position: absolute;
    top: 21%;
    right: 170px;
    z-index: 5;
    display: flex;
    width: 173px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}


.payment .form-input-left-4 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 35%;
    left: 9%;
}

.payment .left-box4 .input-leftbox-4 {
    position: absolute;
    top: 42%;
    left: 80px;
    z-index: 5;
    display: flex;
    width: 345px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

.payment .form-input-left-5 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 55%;
    left: 9%;
}

.payment .left-box4 .input-leftbox-5 {
    position: absolute;
    top: 63%;
    left: 80px;
    z-index: 5;
    display: flex;
    width: 188px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

.payment .form-input-left-6 .label {
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    top: 75%;
    left: 9%;
}

.payment .left-box4 .input-leftbox-6 {
    position: absolute;
    top: 82%;
    left: 80px;
    z-index: 5;
    display: flex;
    width: 345px;
    height: 42px;
    align-items: center;
    border-radius: 16px;
    background: var(--w, #FFF);
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.50) inset;
    border: none;
    outline: none;
    padding: 15px;
}

/* page deatils */

.details .text-title-events {
    position: absolute;
    top: 15%;
    left: 42%;
}

.details .left-box1 {
    position: absolute;
    top: 0%;
    width: 1100px;
    height: 465px;
}

.details .left-box2 {
    position: absolute;
    top: 0%;
    width: 1100px;
    height: 451px;
}


.details .left-box3 {
    position: absolute;
    top: 2%;
    width: 1072px;
    height: 429px;

}

.details .left-box4 {
    position: absolute;
    top: 0%;
    width: 1069px;
    height: 426px;

}

.details .img-details-1 {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 300px;
    height: 240px;
    border-radius: 5%;
}

.details .img-calendar {
    position: absolute;
    bottom: 23%;
    left: 3%;
}

.details .date-event {
    position: absolute;
    top: 72.5%;
    color: #444;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    left: 6%;

}

.details .des-event {
    position: absolute;
    top: 78%;
    color: #6C7272;

    /* 18 medium */
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    left: 3.2%;
}

.details .price-event {
    position: absolute;
    top: 83%;
    color: #FA7D09;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.16px;
    left: 3.3%;
}

.details .text-1 {
    position: absolute;
    top: 10%;
    left: 33%;
    display: flex;
    width: 227px;
    height: 362px;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 15px;
    display: inline;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
}

.details .text-1::first-letter {
    color: #FA7D09;

}

.details .img-events {
    position: absolute;
    top: 0%;
    right: 1%;
    width: 223px;
    height: 140px;
    border-radius: 5%;
}

.details .column-2 {
    position: absolute;
    top: 10%;
    left: 57%;
    display: flex;
    width: 221px;
    height: 362px;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 15px;
    display: inline;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}

.details .column-2 .text-2 {
    position: absolute;
    top: 42%;
}

.details .column-3 {
    position: absolute;
    top: 10%;
    right: 2%;
    display: flex;
    width: 198px;
    height: 362px;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 15px;
    display: inline;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.details .column-3 .img-events {
    position: absolute;
    right: 1%;
    width: 223px;
    height: 138px;
    border-radius: 5%;
    top: 62%;
}

/* page Payment Success */


.payment-success .text-title-payment {
    color: #FFF;
    font-family: iCiel Koni;
    font-size: 69px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
    top: 16%;
    z-index: 2;
    right: 26%;
}

.payment-success .left-box1 {
    width: 1230px;
    height: 430px;
    flex-shrink: 0;
    background-color: #FFCA7B;
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 10%;
    border-radius: 7%;
}

.payment-success .left-box2 {
    width: 1230px;
    height: 417px;
    flex-shrink: 0;
    background-color: #FDE8B3;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 0%;
    border-radius: 7%;
}

.payment-success .left-box3 {
    width: 1206px;
    height: 390px;
    flex-shrink: 0;
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 1%;
    border-radius: 5%;
    border: 3px dashed #FFB489;
}

.payment-success .left-box4 {
    width: 1206px;
    height: 390px;
    flex-shrink: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: #FFF6D4;
}

.payment-success .btn-download {
    position: absolute;
    top: 82%;
    left: 38%;
    width: 160.008px;
    height: 40px;
    flex-shrink: 2;
    z-index: 5;
    border: none;
    background: #FF000A;
    border-radius: 13%;
    color: var(--w, #FFF);
    text-align: center;
    font-family: iCiel Koni;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    box-shadow: 0px 8px #BD000B;
}

.payment-success .btn-download:active {
    box-shadow: none;
    transform: translateY(3px);
}

.payment-success .btn-email {
    position: absolute;
    top: 82%;
    right: 38%;
    width: 160.008px;
    height: 40px;
    flex-shrink: 2;
    z-index: 5;
    border: none;
    background: #FF000A;
    border-radius: 13%;
    color: var(--w, #FFF);
    text-align: center;
    font-family: iCiel Koni;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    box-shadow: 0px 8px #BD000B;
}

.payment-success .btn-email:active {
    box-shadow: none;
    transform: translateY(3px);
}

.payment-success .imgSuccess {
    position: absolute;
    top: 36%;
    left: 0%;
    z-index: 5;
    width: 225px;
    height: 350px;
}

.payment-success .arrow-left-events {
    position: absolute;
    z-index: 5;
    top: 43%;
    left: 5%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 28%;
    background-image: linear-gradient(#FFBE5C, #FFA90B);
    background: #FFDE32;
    box-shadow: 0px 8px #FFD27B;
}

.payment-success .arrow-left-events:active {
    box-shadow: none;
    transform: translateY(3px);

}

.payment-success .arrow-right-events {
    position: absolute;
    z-index: 5;
    top: 43%;
    right: 5%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 28%;
    background-image: linear-gradient(#FFBE5C, #FFA90B);
    background: #FFDE32;
    box-shadow: 0px 8px #FFD27B;
}

.payment-success .arrow-right-events:active {
    box-shadow: none;
    transform: translateY(3px);

}

.payment-success .quantity {
    position: relative;
    top: 87%;
    z-index: 5;
    left: 13.5%;

}

.payment-success .col-3 {
    position: relative;
    left: 12%;
    background-color: white;
    width: 220px;
    height: 323px;
    margin-top: 1.5%;
    border-radius: 7%;
}

.payment-success .img-QR {
    position: relative;
    height: 108px;
    width: 120px;
    top: 6%;
    left: 17%;
}

.payment-success .name-QR {
    position: relative;
    color: #000;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 9%;
    left: 11%;
}

.payment-success .des-QR {
    position: relative;
    color: var(--yellow-1, #FFC226);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 7%;
}

.payment-success .bor-QR {
    position: relative;
    top: 2%;
    left: 42%;
}

.payment-success .date-QR {
    position: relative;
    color: var(--text, #23221F);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
}

.payment-success .tick-QR {
    position: relative;
    top: -1%;
    left: 39%;
    width: 44px;
    height: 43px;
}

.payment-success .count-page {
    position: relative;
    right: -80%;
    z-index: 5;
    top: 77%;
    color: var(--text, #23221F);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 0.5;
}


:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-content th {
    height: 36px;
    color: var(--yellow-2, #FF8A00);
    vertical-align: middle;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    color: #fff;
    background: #FF8A00;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1;
    border: 1px solid #FF8A00;
    border-radius: 4px;
    content: "";
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-today-btn {
    color: #FF8A00;
    text-decoration: none;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker-dropdown .ant-picker-today-btn:hover {
    color: #FF8A00;
    text-decoration: none;
}

.payment-success .row {
    width: 1089px;
    position: relative;
    left: 2%;
    height: 350px;
}



:where(.css-dev-only-do-not-override-14wwjjs).ant-btn-primary {
    color: #fff;

    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    display: none;
}

.contact :where(.css-dev-only-do-not-override-14wwjjs).ant-btn {
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    display: none;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-modal .ant-modal-close:hover {
    color: red;
    background-color: ffffff;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-modal {
    top: 240px;
    width: 350px !important;
}

.text-modal {
    position: relative;
    padding: 0px 10px -1px;
    /* top: 8% !important; */
    margin-top: 7%;
    font-size: 15px;
}

:where(.css-1m62vyb).ant-btn {
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    display: none;
}   